*{font-family: 'Sawarabi Gothic', sans-serif;
    line-height:180%;
    /* 日本がなどを単語中に改行しないようにする */
    word-break: break-all;
    /* これがないとずれる */
    margin:0;
    -webkit-box-sizing:border-box;
}
body {
    /* margin: 0 auto;
    padding: 0px 0 0;
    text-align: center;
    background: #F6F6F6;
    color: #515151; */
    font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}
#wrapper{
    border-top:solid 8px #6CC6C4;
    /* box-sizing:border-box; */
}
.header-wrapper{
    height:200px;
    margin:0 auto 20px;
    width:920px;
}
header{
    position:relative;
    height:200px;
}
/* header{
    position:relative;
} */
.header-right{
    float:right;
    text-align:right;
}
.siteTitle{
    position:absolute;
    top:50px;
    /* マージンが初期値でついていたので０にした */
    margin:0;
}
.phrase{
    font-size:8px;
    position:absolute;
    top:12px;
    right:0;
}
.address{
    position:absolute;
    top:35px;
    right:0;
    height:75px;
    width:220px;
}
.address .tel{
    font-size:25px;
    background-image:url("public/bgTel.png");
    background-position:left;
    background-repeat:no-repeat;
    padding:0 0 0 25px;
    text-align:center;
}
.reception{
    border:solid 1px #D6D6D6;
    font-size:10px;
    height: 30px;
    padding:5px 0px;
    text-align:center;  
}
.reception .red{
    color:#B73916; 
}
.header-nav{
    position: absolute;
    top:128px;
    width:100%;
    border:solid 1px #6CC6C4;
    /* border-radius:6px; これではheader-navのリスト一つ一つを区切れない */
    font-size:12px;
    height:72px;  
    background-color:#6CC6C4;
    /* linear-gradient関数で、グラデーション、一番下で濃くなる */
    background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
    border-radius:6px;
}
.header-nav .first{
    /* これで、header-navの一番左のリストの左上、左下の角が丸くなる */
    border-radius:6px 0px 0px 6px;
    /* border-left:#71C9C7 1px solid;
    border-right:#99E1DF 1px solid; */
}
/* display:flex;は親要素に指定する */
.header-nav ul{
    display:flex;
    list-style:none;
    /* justify-contentも親要素に指定する */
    justify-content: space-around ;
    margin:0; 
    padding:0;  
}
.header-nav span{
    /* blockレベルは親要素の幅と同じになるから、この場合、.header-nav liと同じ幅()になり、縦に並べることができる。 */
    display:block;  
    word-break:break-all; 
    text-align:center; 
    line-height:20px; 
    font-size:108%;
}

.header-nav a{
    padding:17px 0 18px;
    text-decoration:none;
    text-shadow:1px 1px 2px #6CC6C4;
    color:white;
    display:block;
    border-right: #71C9C7 solid 1px;
    border-left: #99E1DF solid 1px;

    height:70px;
}
.header-nav li{
    text-align:-webkit-match-parent;
    width:100%;
    /* これを、li>aのheightがliを超えていたのを解消しようとしたが、解消されず、直接aセレクタのheightを70pxにした */
    /* height:70px;
    margin:0;
    padding:0;
    list-style:none; */
}
/* li {
    display: list-item;
    text-align: -webkit-match-parent;
} */
main{
    width:920px;
    margin:0 auto;
}
.main-wrapper{
    width:920px;
    margin:0 auto;
    text-align:left;
    /* overflowで高さが戻った。子要素の.content-mainがfloat:rightで親要素の高さが消える。 */
    overflow:hidden;
}
.content-main{
    width:645px;
    margin-left:20px;
    float:right;
    display:block;
}
.content-main{
    /* float:right; */
}
.main-content img{
    height:280px;
    /* float:right; */
    margin-bottom:8px;
    padding-left:80px;
}
.main-content{
    float:right;
    /* widthを指定することで、 */
    width:640px;
    margin-left:20px;
    
}
.news dl dt{
    float:left;
    font-size:15px;
    padding:10px;
    font-weight:bold;
}
.news dl dd{
    font-size:14px;
    padding:10px;
    border-bottom:2px #CCCCCC dotted;
}
.main-content img{
    
}
.main-wrapper{
    
    margin:0 auto 20px;
    width:920px;
}
.news{
    margin:40px 20px;
}
.news h2{
    border-bottom:3px solid #6CC6C4;
}
.menu{
    width:260px;
    float:left;
}
.menus{
    width:260px;
    border:1px solid #6CC6C4;
    border-radius:6px 6px 0 0;
    margin-bottom:20px;
}
.optional-title{
    border-bottom:1px solid #6CC6C4;
    background-color:#6CC6C4;
    color:white;
    font-size:15px;
    padding:0px 15px;
    display:block;
    height:40px;
    /* line-heightで文字が中央に寄った */
    line-height:40px;   
    background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
}


.menus ul{
    margin:0px 12px;
    padding-left:20px;
    padding-inline-start: 0px;
    margin-bottom:20px;
}
.menu-list li{
    height:40px;
    
    list-style:none;    
    border-bottom:1px solid #6CC6C4; 
    margin:0px 12px;

}
.menu-list a{
    line-height:25px;
    padding:8px 0;
    list-style:none;
    color:#595959;
    text-decoration:none;
    display:block;
    /* float:left; */
}
.menu-list a:hover{
    color:#AEC14C;

}
.footer{
    width:920px;
    margin:0 auto;
}
.footer-wrapper ul{
    background-color:#6CC6C4;
    overflow:hidden;
    color:white;
}
.footer-wrapper ul li{
    float:left;
    padding:0px 20px 0 25px;
    list-style:none;
    background-image:url("public/bgFooterIcon.png");
    background-position:left;
    background-repeat:no-repeat;
    font-size:15px;
}
.footer-wrapper a{
    text-decoration:none;
    color:white;

}
.footer-wrapper a:hover{
    text-decoration:underline;
}
.footer-address{
    /* float:right; */
    height:50px;
    text-align:right;
    line-height:50px;
    font-size:12px;
    border-bottom:2px solid #6CC6C4;
    color:#515151;
}
.footer-copyright p{
    text-align:center;
    font-size:14px;
    line-height:50px;
    color:#515151;
}
